{% extends "layout.html" %}

{% block body %}
<h3 style="text-align:center">My About </h3>
<hr>
Hi. I'm Mustafa Sungur. I am Python Developer. I have done projects in many data mining fields so far. I have been data mining, especially in web phishing, real estate and healthcare. Now I started developing projects related to Django and flask. I set up this blog for those who want to develop projects. You can add your articles related to the projects from the articles section. You can write critical comments on the projects and articles I have added.
<hr>

{% endblock body %}